$size-null: 0
$size-ten: 10
$size-hundred: 100
$color-white: #fff
$color-orange: #b19432
$bg-color-main: #12a099
$bg-color-main-active: #136c67
$bg-color-onclick: #156662
$flex: flex
$wrap: wrap
$none: none

// html, body, div, span, h1 p, ol, ul, li, fieldset, label, legend
//   margin: $size-null
//   padding: $size-null
//   border: $size-null

// @font-face 
//     font-family: 'ubuntu-regular'
//     src: url('./style/font/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.eot')
//     src: url('./style/font/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.woff')format('woff'), url('./style/font/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.ttf') format('truetype'), url('./style/font/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.svg') format('svg')
//     font-weight: normal
//     font-style: normal
// @font-face 
//     font-family: 'ubuntu-light'
//     src: url('./style/font/Ubuntu/Ubuntu-Light/Ubuntu-Light.eot')
//     src: url('./style/font/Ubuntu/Ubuntu-Light/Ubuntu-Light.woff')format('woff'), url('./style/font/Ubuntu/Ubuntu-Light/Ubuntu-Light.ttf') format('truetype'), url('./style/font/Ubuntu/Ubuntu-Light/Ubuntu-Light.svg') format('svg')
//     font-weight: light
//     font-style: normal
// @font-face 
//     font-family: 'ubuntu-medium'
//     src: url('./style/font/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.eot')
//     src: url('./style/font/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.woff')format('woff'), url('./style/font/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.ttf') format('truetype'), url('./style/font/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.svg') format('svg')
//     font-weight: medium
//     font-style: normal
// @font-face 
//     font-family: 'ubuntu-bold'
//     src: url('./style/font/Ubuntu/Ubuntu-Bold/Ubuntu-Bold.eot')
//     src: url('./style/font/Ubuntu/Ubuntu-Bold/Ubuntu-Bold.woff')format('woff'), url('./style/font/Ubuntu/Ubuntu-Bold/Ubuntu-Bold.ttf') format('truetype'), url('./style/font/Ubuntu/Ubuntu-Bold/Ubuntu-Bold.svg') format('svg')
//     font-weight: medium
//     font-style: normal

.leftmenu-main
  // display: $flex
  // flex-wrap: $wrap
  background-color: $bg-color-main
  width: $size-hundred * 3.2 + px
  height: $size-hundred * 10.8 + px

  .leftmenu-title
    display: $flex
    flex-wrap: $wrap
    width: $size-hundred * 2.6 + px
    height: $size-ten * 5 + px
    margin-left: $size-ten * 4.4 + px
    padding-top: $size-ten * 2.4 + px


    .leftmenu-title-logo
      float: left
      width: $size-ten * 9.7 + px
      height: $size-ten * 4.9 + px


    .leftmenu-title-text
      font-family: 'ubuntu-bold'
      font-size: $size-ten * 1.4 + px
      float: right
      text-transform: uppercase
      color: $color-white
      width: $size-ten * 10.3 + px
      height: $size-ten * 2.9 + px
      margin-top: $size-ten * 1.1 + px
      margin-left: $size-ten * 2.3 + px

.leftmenu-section
  display: $flex
  flex-wrap: $wrap
  width: 100%
  margin-top: $size-null
  padding-top: $size-ten * 2.4 + px
  font-family: 'ubuntu-bold'
  font-size: $size-ten * 1.4 + px
  float: left

  .leftmenu-category
    display: $flex
    flex-direction: column
    flex-wrap: $wrap
    padding-top: $size-ten * 2 + px
    padding-bottom: $size-ten * 2 + px
    margin-bottom: $size-ten * 4 + px
    color: $color-white
    margin-bottom: $size-null
    position: relative
  
    // &-ative
    //   background-color: $bg-color-main-active

    .leftmenu-category-block

      .leftmenu-category-left-img
        background-color: $color-white
        width: $size-ten / 2.5 + px
        border-radius: 0 8px 8px 0
        top: $size-ten * 3.3 + px
        bottom: $size-ten * 3.3 + px
        position: absolute
        left: $size-null

      .leftmenu-category-image
        float: left
        border-radius: 50%
        background-color: $color-white
        width: $size-ten * 4.2 + px
        height: $size-ten * 4.2 + px
        margin-left: $size-ten * 4.4 + px

      .leftmenu-category-title
        float: left
        margin-left: $size-ten * 4.4 + px
        height: $size-ten * 3.3 + px
                
        .leftmenu-category-title-name
          margin: $size-null
          padding: $size-null
          font-family: 'Ubuntu Medium'
          font-size: $size-ten * 1.8 + px
                

        .leftmenu-category-title-sometext
          color: $color-orange
          font-size: $size-ten * 1.2 + px
          margin-top: $size-ten * 0.8 + px
          font-family: 'Ubuntu Light'


.leftmenu-item
  display: $flex
  flex-wrap: $wrap
  color: $color-white
  padding-left: $size-hundred * 1.28 + px
  width: $size-hundred * 3.2 - $size-hundred * 1.29 + px
  height: $size-ten * 4.3 + px
  font-family: 'ubuntu-regular'
  font-size: $size-ten * 1.6 + px

  
  &:hover
    color: $color-orange

  .leftmenu-item-gradient
    width: 100%
    height: 2px


  &:hover
    .leftmenu-item-gradient
        background: rgba(255, 145, 0, 0)
        background: -moz-linear-gradient(left, rgba(255, 145, 0, 0) 0%, rgba(255, 145, 0, 1) 100%)
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 145, 0, 0)), color-stop(100%, rgba(255, 145, 0, 1)))
        background: -webkit-linear-gradient(left, rgba(255, 145, 0, 0) 0%, rgba(255, 145, 0, 1) 100%)
        background: -o-linear-gradient(left, rgba(255, 145, 0, 0) 0%, rgba(255, 145, 0, 1) 100%)
        background: -ms-linear-gradient(left, rgba(255, 145, 0, 0) 0%, rgba(255, 145, 0, 1) 100%)
        background: linear-gradient(to right, rgba(255, 145, 0, 0) 0%, rgba(255, 145, 0, 1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9100', endColorstr='#ff9100', GradientType=1 )

